h1 {
  font-size: 32pt;
}

h2 {
  color: rgb(24, 32, 12);
  font-family: "Times New Roman", Times, serif;
}

.product-card {
  width: 450px;
  border: 20px black;
  padding: 20px;
  margin: 20px;
  background-color: lightgrey;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
}

.add-to-cart-button {
  width: 200px;
  height: 65px;
  font-size: 12pt;
  font-weight: bold;
  background-color: rgb(126, 129, 116);
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: beige;
  color: rgb(126, 129, 116);
}
